* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-light-peach: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-peach: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  background: var(--gradient-light-peach);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--desaturated-red);
  min-height: 100vh;
}

/* main content */
.container {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 375px;
  margin-left: 60px;
}

.logo {
  max-width: 100px;
  padding: 30px 0;
}

h1 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.1;
}

span {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 40px 0 40px;
  line-height: 1.5;
}

.email-input {
  margin-top: 30px;
  border: 1px solid var(--desaturated-red);
  background: var(--gradient-light-peach);
  color: var(--desaturated-red);
  border-radius: 20px;
  width: 300px;
  height: 45px;
}


.submit-button {
  display: inline-block;
  width: 60px;
  height: 45px;
  background: var(--gradient-peach);
  border-radius: 20px;
  position: relative;
  right: 64px;
  top: 4px;
  filter: drop-shadow(0px 8px 10px var(--desaturated-red));
}


.button-arrow {
  display: inline-block;
  position: relative;
  top: 12px;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
