:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-light-peach: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-peach: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: var(--gradient-light-peach);
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--desaturated-red);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main content */
.main-container {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 375px;
  margin-left: 60px;
}

.logo {
  max-width: 100px;
  padding: 30px 0;
}

.mobile-image-container {
  display: inline;
  width: 375px;
  height: 250px;
}

.hero-desktop-image {
  display: none;
}

h1 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.1;
}

span {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 40px 0 40px;
  line-height: 1.5;
}

form {
  margin-top: 30px;
}

input {
  border: 1px solid var(--desaturated-red);
  outline: none;
  background: var(--gradient-light-peach);
  color: var(--desaturated-red);
  border-radius: 20px;
  width: 300px;
  height: 45px;
  padding-left: 20px;
}

.submit-button {
  display: block;
  width: 60px;
  height: 45px;
  background: var(--gradient-peach);
  border-radius: 20px;
  position: relative;
  bottom: 45px;
  left: 245px;
  filter: drop-shadow(0px 8px 10px var(--desaturated-red));
}

.button-arrow {
  display: inline-block;
  position: relative;
  top: 12px;
}

.submit-button:hover {
  filter: brightness(115%) drop-shadow(0px 8px 10px var(--desaturated-red));
  cursor: pointer;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(min-width: 1024px) {
  body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 30% 15% 30%;
    min-height: 100vh;
    max-width: 1440px;
    height: 800px;
  }

  .main-container {
    grid-area: 1/ 1/ 5/ 2;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
  }

  .logo-container {
    margin: 0;
    margin-top: -90px;
    margin-bottom: 105px;
  }

   .logo {
     max-width: 158px;
   }

  .hero-desktop-image {
    display: inline;
  }

  .mobile-image-container {
    display: none;
  }

  .desktop-image-container {
    grid-area: 1/ 2/ 5/ 3;
  }

  h1 {
    text-align: left;
    font-size: 65px;
    padding: 0;
    margin-top: 0;
  }

  p {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    margin-right: 215px;
    font-size: 16px;
  }

  form {
    margin-top: 40px;
  }

  input {
    height: 55px;
    width: 350px;
  }

  .submit-button {
    width: 70px;
    height: 55px;
    left: 280px;
    bottom: 55px;
  }
